.Music-input {
    padding: .25em;
    width: 80%;
    margin-top: 2em;
}

.Music-btn {
    padding: .7em;
    width: 20%;
    background-color: #ffffff;
    text-decoration: none;
    font-size: .75em;
}

.Music-body {
    font-family: 'Roboto', sans-serif;
}

.Music-songInfo {
    display: flex;
    flex-direction: row;
    margin-top: .5em;
}

.Music-title {
    font-size: 12px;
    font-weight: 500;
    width: 200px;
    margin-left: 1em;
    margin-top: .5em;
}

.Music-addSongImage {
    width: 20px;
    height: 20px;
}

.Music-songBtn {
    font-size: .75em;
}