.Music-input {
    padding: .25em;
    width: 20.75%;
}

.Music-btn {
    padding: .25em;
    background-color: #ffffff;
    text-decoration: none;
}

.Music-body {
    font-family: 'Roboto', sans-serif;
}

.Music-songInfo {
    display: flex;
    flex-direction: row;
    margin: .125em 0;
    border: #e7e7e7 solid 1px;
    width: 25%;
}

.Music-title {
    font-size: 12px;
    font-weight: 500;
    width: 200px;
    margin: 0 2em;
    margin-top: .125em;
}

.Music-artist {
    font-size: 12px;
    margin: 0 2em;
}

.Music-addSongImage {
    margin-top: .7em;
}