.navHeader{
    background-color:#DB2DAC;
    width: 100%;
    height: auto;
    box-shadow:20px 0px 100px rgba(90, 3, 83, 0.735);
    padding: 2rem 4rem 2rem 4rem;
    margin-bottom: 3rem;
    position: fixed;
    z-index: 100;
}

.header-navbar{
    color: white;
    width: 100%;
}

col.navName h4 {
    font-weight: 100;
}

