.navHeader{
    background-color:#DB2DAC;
    width: 100%;
    height: 125px;
    box-shadow:20px 0px 100px rgba(90, 3, 83, 0.735);
   padding-top: 2rem;
}
.navRow{
    margin-bottom: 3rem;
}

.header-navbar{
    color: white;
    width: 100%;
}

col.navName h4 {
    font-weight: 100;
    text-align: end; 
    /* padding-right: 4rem; */
}