.pageContainer{
  width: 100%;
  position: relative;
  background: linear-gradient(#DB2DAC, rgba(237, 134, 79, 0.845), rgba(244, 165, 46, 0.845), rgba(247, 240, 30, 0.3), #ffffff);
  background: linear-gradient(/*rgba(182, 19, 138, 0.824),*/ #DB2DAC, #ED854F, rgb(247, 191, 8), /*rgb(252, 219, 110),*/ rgb(248, 233, 185), #f8f8f1);
}
.tempRender{
  font-size: 5em;
  color: white;
  text-shadow: 0 0 20px rgba(90, 3, 83, 0.5);
}

.leftDiv {
  margin: 0;
}
.weatherDiv{
  margin:0px;
  /* background-color: rgba(253, 253, 251, 0.3); */
  border-radius: 10px;
  
}
.songDiv{
  margin-top: 1rem;;
  /* background-color: rgba(204, 204, 202, 0.6); */
  /* border-radius: 10px; */
  border-top: 6px solid  rgba(204, 204, 202, 0.6);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h2.Div-label {
  color: white;
  text-shadow: 0 0 10px rgba(90, 3, 83, 0.735);
  font-size: 1.3rem;
  letter-spacing: .08rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 1rem;
}

.calendarDiv{
    /* border-left: 1px solid rgba(204, 204, 202, 0.6); */
    padding-left: 3rem;
    padding-right: 0;
}

div.row.mainBody {
  margin: 0rem 2rem;
  justify-content: space-around;
  padding-top: 12rem;
}

.Login-container {
  width: auto;
  margin:0px;
} 

.login-button {
  background-color: rgb(247, 191, 8);
  border-radius:  5%;
  font-weight: 400;
}

.btn.btn-light {

  background-color: rgb(247, 191, 8);
  border-radius:  5%;
  font-weight: 400; 
}

button.logout-button {
  
  background-color: rgb(247, 191, 8);
  border-radius:  5%;
  font-weight: 400;
}