.pageContainer{
  background: linear-gradient(#DB2DAC,rgb(223, 63, 180), #ED854F, rgb(252, 219, 110), #FFFBD0);
}
.weatherDiv{
margin: 10px;
    background-color:rgb(223, 221, 221, .7);
    border-radius: 10px;
}
.songDiv{
  margin: 10px;
    background-color:rgb(223, 221, 221, .7);
    border-radius: 10px;
}
.newsDiv{
  border-style: solid;
    border-width: 2px;
    border-color: firebrick;
}
.claenderDiv{
  border-style: solid;
    border-width: 2px;
    border-color: orange;
}