.pageContainer{
  background: linear-gradient(#DB2DAC, #ED854F, rgb(252, 219, 110), rgb(245, 245, 243));
  font-family: 'Roboto', sans-serif;
}
.tempRender{
  font-size: 5em;
  color: white;
  text-shadow: 0 0 20px rgba(90, 3, 83, 0.5);
}

.leftDiv {
  margin-left: 0;
  margin-right: 1rem;
  padding-left: 0;
}
.weatherDiv{
margin:0px;
    /* background-color: rgba(253, 253, 251, 0.3); */
    border-radius: 10px;
  
}
.songDiv{
  margin: 10px;
    background-color: rgba(204, 204, 202, 0.6);
    border-radius: 10px;
}
.col-4.newsDiv{
  margin-right: 2rem;
  border-spacing: 2rem;
  border-left: 1px solid  rgba(204, 204, 202, 0.6);
  padding-left: 3rem;

}
.col-3.calendarDiv{
    border-left: 1px solid rgba(204, 204, 202, 0.6);
    padding-left: 3rem;
    padding-right: 0;
}

div.row.mainBody {
  margin: 1rem 3rem;
}