.pageContainer{
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(182, 19, 138, 0.824), #DB2DAC, #ED854F, rgb(247, 191, 8), rgb(252, 219, 110), rgb(248, 233, 185), #f8f8f1, #f8f8f1);
}
.tempRender{
  font-size: 5em;
  color: white;
  text-shadow: 0 0 20px rgba(90, 3, 83, 0.5);
}

.leftDiv {
  margin-left: 0;
  margin-right: 1rem;
}
.weatherDiv{
margin:0px;
    /* background-color: rgba(253, 253, 251, 0.3); */
    border-radius: 10px;
  
}
.songDiv{
  margin-top: 2rem;;
    /* background-color: rgba(204, 204, 202, 0.6); */
    /* border-radius: 10px; */
    border-top: 6px solid  rgba(204, 204, 202, 0.6);
    padding-top: 2rem;
    padding-right: 2rem;
}
.newsDiv{
  /* margin-right: 2rem;
  margin-left: 2rem; */
  padding-left: 3rem;
  /* border-left: 1px solid  rgba(204, 204, 202, 0.6); */
}
.calendarDiv{
    /* border-left: 1px solid rgba(204, 204, 202, 0.6); */
    padding-left: 3rem;
    padding-right: 0;
}

div.row.mainBody {
  margin: 0rem 2rem;
  justify-content: space-around;
  padding-top: 11rem;
}

.Login-container {
  width: auto;
  margin:0px;
} 